{% extends "./base.html" %}
{% load static %}
{% block title %} Add a Restaurant {% endblock %}

{% block include_vue %} 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block  configure_dropdown_link %}
<li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Configure
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'campus:add_restaurant' %}">Create</a>
    <a class="dropdown-item" href="#">Modify</a>
</li>
{% endblock %}

{% block body %}
<div id="app">


Test: [[message]]
ShowFirst: [[showFirstTab]]

    		


<div id="tab1" v-if="showFirstTab">
<div class="container content-top">
    <form action = "{% url 'campus:add_restaurant_action' %}" method="POST">
        {% csrf_token %}
        <h1><center>Restaurant Details</center></h1>
        <div class="row">
            <div class="col-lg-6">
                <label for = "restaurant_name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="restaurant_name"
                    name="restaurant_name">
                <small class="text-muted">Enter your restaurant's name</small>
            </div>
            <div class="col-lg-6">
                <label for = "restaurant_location">Location</label>
                <input
                    type="text"
                    class="form-control"
                    id="restaurant_location"
                    name="restaurant_location">

                <small class="text-muted">Ex. 123 Main St, New York, NY</small>
            </div>
        </div>
        <br>
        <div class="row pb-2">
            <div class="col-lg-6">
                    <label for = "restaurant_location">Phone Number</label>
                    <input
                        type="text"
                        class="form-control"
                        id="phone_number"
                        name="phone_number">
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-lg-6">
                Hours of Operation
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <tr>
                        <td>Sunday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Monday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Tuesday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Wednesday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Thursday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Friday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Saturday:</td>
                        <td><input type="text" 
                            class="form-control" 
                            value="{{ restaurant.hours_of_operation }}">
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-outline-success" v-on:click="goToSecond">Next</button>
            </div>
        </div>
    </form>
</div>
</div>

<div id="tab2" v-if="showSecondTab">
    <div class="container content-top">
    <form action = "{% url 'campus:add_restaurant_action' %}" method="POST">
        {% csrf_token %}
        <h1><center>List of Items</center></h1>
        <div class="row">
            <div class="col-lg-6">
                <label for = "restaurant_name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="restaurant_name"
                    name="restaurant_name">
                <small class="text-muted">Enter your restaurant's name</small>
            </div>
            <div class="col-lg-6">
                <label for = "restaurant_location">Price</label>
                <input
                    type="text"
                    class="form-control"
                    id="restaurant_location"
                    name="restaurant_location">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <input type="submit"
                class="btn btn-outline-success" value = "Previous">
            </div>
            <div class="col-lg-6 text-right">
                <input type="submit"
                class="btn btn-outline-success" value = "Submit">
            </div>
        </div>
    </form>
</div>
</div>
</div>

<script src="{% static 'add-restaurant.js' %}"></script>
{% endblock %}



