{% extends "./base.html" %}
{% block title %} Compare Restaurants {% endblock %}
{% block compare_restaurants_link %}
<li class="nav-item active">
    <a class="nav-link active" href="{% url 'campus:compare_restaurants' %}">Compare</a>
</li>
{% endblock %}

{% block body %}
<div class="container content-top">
    <div class="text-center">
        <h3>Compare Restaurants</h3>
    </div>
    <form action = "{% url 'campus:compare_restaurants_action' %}" method="GET">
        <div class="row content-top">
            <div class="col-lg-6">
                <!--<label for = "left_restaurant" class="lead">Restaurant 1</label>
                <br>-->
                <input type="text" 
                class="form-control textbox-large round-field-1 float-left" 
                id = "first_restaurant" name="first_restaurant" placeholder = "Restaurant 1">
            </div>
            <div class="col-lg-6">
                <!-- <label for = "right_restaurant" class="lead label-right">Restaurant 2</label>
                <br>-->
                <input type="text" 
                class="form-control textbox-large round-field-1 float-right" 
                id = "second_restaurant" name="second_restaurant" placeholder="Restaurant 2">
            </div>
        </div>
        <div class="row content-top">
            <div class="col-lg-12">
                <div class="text-center">
                    <input type="submit" 
                    class="btn btn-lg wide-button btn-outline-success round-field-1" 
                    value="Compare">
                </div>
            </div>
        </div>
    </form>
    {% if first_restaurant and second_restaurant or name_error_list  %}
    
        {% if name_error_list %}
            <div class="row content-top">
                <div class="col-lg-12">
                    <small class="text-danger">
                        Oops! 
                        {% for name in name_error_list %}
                            {% if forloop.counter == name_error_list.size %}    
                            name
                            {% else %}
                            {{name}},
                            {% endif %}
                        {% endfor  %}
                    </small>
                </div>
            </div>
        {% else %}
            <div class="row content-top">
                <div class="col-lg-6 text-left">
                   <h3>{{ first_restaurant.name }}</h3>
                   <p class="lead">{{ first_restaurant.location }}</p>
                   <p class="lead">{{ first_restaurant.get_average_price }}</p>
                   <p class="lead">{{ first_restaurant.get_min_price }}</p>
                   <p class="lead">{{ first_restaurant.get_max_price }}</p>
                </div>
                <div class="col-lg-6 text-right">
                    <h3>{{ second_restaurant.name }}</h3>
                    <p class="lead">{{ second_restaurant.location }}</p>
                    <p class="lead">{{ second_restaurant.get_average_price }}</p>
                    <p class="lead">{{ second_restaurant.get_min_price }}</p>
                    <p class="lead">{{ second_restaurant.get_max_price }}</p>
                </div>
            </div>

        {%  endif %}

  
    {% endif %}
</div>



{% endblock %}
