{% extends "./base.html" %}
{% block title %} Campus Price and Dice {% endblock %}
{% block dashboard_link %}
<li class="nav-item active">
    <a class="nav-link active" href="{% url 'campus:index' %}">Dashboard<span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block body %}

<div class="container content-top">
    <h4>Your Favorite Restaurants</h4>
    <div class="row">
        <div class="col-lg-6">
            {{ user.username }}
            <br>
            {% for restaurant in user.favorite_restaurant_list.all %}
                {{restaurant.name}}
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}
