{% extends "./base.html" %}
{% block title %} User Profile {% endblock %}
{% block user_profile_link %}
<li class="nav-item active">
    <a class="nav-link active" href="{% url 'campus:user_profile' %}">Profile</a>
</li>
{% endblock %}

{% block body %}
<div class="container content-top">
    <div class="text-center">
        <h3>User Profile</h3>
    </div>
</div>
<div class="row">
    <p class="lead">Username: {{ user.username }}</p>
</div>
<div class="row">
    <p class="lead">Name: {{ user.first_name }}</p>
    <p class="lead">{{ user.last_name }}</p>
</div>
<div class="row">
    <p class="lead">Email: {{ user.email }}</p>
</div>
    <!--
    <div class="row">
            <div class="col-lg-12">
                    <table class="table table-sm table-hover table-responsive table-striped">
                            <thead>
                                    <tr>
                                        <th>Restaurant</th>
                                        <th>Average Price</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {{ for restaurant in user.get_favorite_restaurants }}
                                <tr>
                                    <td>
                                        {{ restaurant.name }}
                                    </td>
                                    <td>
                                        {{ restaurant.get_average_price }}
                                    </td>
                                </tr>
                                {{ endfor }}
                            </tbody>
                    </table>
            </div>
    </div>
    -->
{% endblock %}