.page-title {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.return-link {
    color: #1EC9F4;
    font-size: 15px;
}

a.no-underline {
    text-decoration: none;
}

.text-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.function {
    font-size: 20px;
}
