{% extends "campus/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Register an Account {% endblock %}

{% block body %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <!-- DERRICK: 
                    The 'Log In' text, in order to have good vertical spacing from the navbar,
                    should use the 'content-top' class. It's defined in static/campus/style.css 
            -->
            <legend class="border-bottom mb-4 content-top">Log In</legend>
            {{ form | crispy}}
        </fieldset>
        <div class="form-group">
            <!-- DERRICK: 
                    The button, when highlighted, becomes white, matching the color
                    of the page's background. For consistensy, I recommend using the class
                    btn-outline-info (I think btn-out-info may have been older Bootstrap syntax)
            -->
            <button class="btn btn-out-info" type="sumbit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
            <small class="text-muted">
                Need to make an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Here!</a>
            </small>
    </div>
</div>
{% endblock %}