{% extends "campus/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Register an Account {% endblock %}

{% block body %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <h3 class="content-top">Let's get you signed up!</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                {{ form | crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                 <button class="btn btn-outline-primary" type="sumbit">Create Account</button>
            </div>
        </div>
    </form>
    <br>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
<br>
{% endblock %}