/*
    navbar.css
*/

nav.navbar {
    padding: 0rem;
    height: 4rem;
}

nav.navbar-light-green {
    background-color: #0FD88E;
}

li.nav-item a.nav-link {
    display: block;
    height: 4rem;
    padding-top: 1.3rem;
    font-size: 1.2rem;
}

li.nav-item a.nav-link:hover {
    background-color: #09BD8D;
}



