body {
    font-family: 'Montserrat', sans-serif;
}

.map {
    height: 425px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.content-top {
    margin-top: 3rem;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
}

.textbox-large {
    width: 70%;
    height: 3rem;
    font-size: 1.5rem;
}

.round-field-2 {
    border-radius: 3rem;
}

.round-field-1 {
    border-radius: 1rem;
}

.wide-button {
    width: 13rem;
}

.aligned-input {
    display: inline-block !important;
}

.label-right {
    padding-left: 10.2rem;
}

/*
.float-right should be de-activated below a 
certain width
*/
