.selector-for-some-widget {
    box-sizing: content-box;
}

.content-top {
    margin-top: 3rem;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
}

.textbox-large {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
}